body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  grid-template-colomns: 20% 80%;
  display: grid;
  --prim-color: #693c72;
  color: white;
  margin: -8px;
}
button {
  background: #c15050;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  font: normal bold 18px "Open Sans", sans-serif;
  margin-bottom: 10px;
}
button:hover {
  transition: all 0.3s;
  background: #d97642;
}
